/* You can add global styles to this file, and also import other style files */

/* Colors */
.support{
    color: #ff6c00;
}

.logo img{
    width: 14%;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 8px;
}
.title-page{
    margin: 0;
}
.more-info{
    border: 1px solid #cacaca;
    color: #cacaca;
    padding: 0px 6px;
    border-radius: 3px;
    cursor: pointer;
}
.more-info:hover{
    background-color: #cacaca;
    color: #fff;
}
.input-rounded::placeholder{
    color: #cccc
}
.input-rounded{
    width: 100%;
    border: 1px solid #cccc;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #fff;
    outline-color: transparent;
}
.i-icon-search{
    position: absolute;
    right: 20px;
    top: 4px;
    padding: 8px;
    border-radius: 18px;
    cursor: pointer;
}
.i-icon-search:hover{
    background-color: #3c8dbc;
    color: #fff;
    transition: 0.8s;
}

table tbody{
    background-color: #fff;
}

thead.thead-light tr th {
    background-color: #d5dee2;
}
thead.thead-light tr th:first-child {
    border-top-left-radius: 10px;
}
thead.thead-light tr th:last-child {
    border-top-right-radius: 10px;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    /* width: 320px; */
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
    width: 600px;
    overflow-x: hidden;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #392765;
}
.modal-title{
    color: #FAFAFA;
}
.close{
    color: #FFF;
}
.close:hover{
    color: #FFF;
}
.modal-footer{
    position: static;
    bottom: 0px;
    width: 600px;
    padding: 15px 30px;
}
/* END MODAL SIDEBAR */


.mb-1{
    margin-bottom: 1em;
}

